![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 3

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/users_dataset.txt***.\
Salve os dados em uma variável de nome *users*.

#### Tarefa 2. Descubra qual a idade média por ocupação.

*Dica: use a função groupby do Pandas na coluna occupation*

In [1]:
# base de dados disponibilizada no git não abre
import pandas as pd

In [7]:
users = pd.read_csv('//content/predicao_de_emprestimo.csv', sep=';')
users.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360.0,1.0,Urban,Y

In [8]:
users.groupby('Education')['ApplicantIncome'].mean()

Education
Graduate        5857.433333
Not Graduate    3777.283582
Name: ApplicantIncome, dtype: float64

#### Tarefa 3. Para cada ocupação descubra a idade mínima e máxima.

In [9]:
users.groupby('Education').agg({'ApplicantIncome': ['min', 'max']})

             ApplicantIncome
                         min    max
Education
Graduate                 150  81000
Not Graduate             210  18165

#### Tarefa 4. Para cada combinação de ocupação e sexo, calcule a idade média.

Exemplo:

```
occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
```

In [11]:
users.groupby(['Education', 'Self_Employed'])['ApplicantIncome'].mean()

Education     Self_Employed
Graduate      No               5504.203085
              Yes              7735.507692
Not Graduate  No               3457.108108
              Yes              6024.647059
Name: ApplicantIncome, dtype: float64

#### Tarefa 5. Para cada ocupação calcule a porcentagem de homens e mulheres.

Exemplo:

```
occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
```

In [12]:
df2 = users.groupby('Education')['Gender'].value_counts()
porcentagem = df2.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))
porcentagem

Education     Gender
Graduate      Male      80.341880
              Female    19.658120
Not Graduate  Male      84.962406
              Female    15.037594
Name: Gender, dtype: float64

**Parabéns! Você chegou ao fim!**